/*
even -> pair -> 2n
odd -> impair -> 2n + 1
*/

/*
if (line % 2 === 0)
{
    if (column % 2 === 0)
    {
        white
    }
    else
        black;
}
else
{
    if (column % === 0)
    {
        return black;
    }
    else
        return white;

}
*/

body {
    background: #00aa77;
    background-image: url("../img/body-cover/zenbg-1.png"), url("../img/body-cover/zenbg-2.png");
    background-repeat: repeat-x, repeat;
}

.board-line:nth-child(even) > .board-column:nth-child(even) {
    /* white */
    background: ##ffffd4;
    background-image: url("../img/board/ivoire.png");
}

.board-line:nth-child(even) > .board-column:nth-child(odd) {
    /* black */
    background: #955628;
    background-image: url("../img/board/noisette.png");
}

.board-line:nth-child(odd) > .board-column:nth-child(even) {
    /* black */
    background: #955628;
    background-image: url("../img/board/noisette.png");
}

.board-line:nth-child(odd) > .board-column:nth-child(odd) {
    /* white */
    background: ##ffffd4;
    background-image: url("../img/board/ivoire.png");
}

.board-column {
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

.board-stone {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
